<h1>About Us</h1>
<p>Protool is an incredibly versatile tool for project management. It’s flexibility allows for it to be a simple tool for personal organization or a powerful engine for product development. This visual list tool can do so much more, whether you're organizing work projects, family chores, travel plans, or just about anything else.</p>

<p>It is best represented as a whiteboard filled with post-it notes. Each post-it represents different tasks involved in the project. A Protool board is basically a web page containing lists laid out horizontally on the page so you can get a bird's eye view of your project. Items within the lists, called cards, can be slide onto other lists.</p>

<ul>
  <li><strong>To do list</strong> – Cards are placed here to assign new tasks</li>
  <li><strong>Doing</strong> –  The tasks that the person is currently working on</li>
  <li><strong>Done list</strong> – Completed tasks</li>
</ul>
