<div class="jumbotron">
  <h1><i class="fa fa-cubes" aria-hidden="true"></i>ProTool</h1>
  <p>This is my smart Project Management Tool</p>
  <%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg"%>
</div>
