// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #0FF1C3;
    // background-image: url("protool background 2.jpg");
    // background-size: cover;
    // background-repeat: no-repeat;
}

#btn-submit {
  background-color: #10ADED;
  border-color: #10ADED;
}
